* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  background: linear-gradient(120deg, rgb(6, 6, 90), #2f3faa, hwb(232 47% 14%));
}

header {
  background-color: #ffffff;
  color: #4006f1;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #3c01ff;
}

main {
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: white;
  position: absolute;
  left: 20%;
  top: 50%;
}

#texto {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
  position: absolute;
  left: 10%;
  top: 45%;
  width: 600px;
  font-size: 20px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

#img1 {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 150px;
  height: 150px;
  transform: scale(0.4);
}

#texto2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  top: 125%;
  width: 600px;
  font-size: 20px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

#img2 {
  position: absolute;
  top: 120%;
  left: 10%;
  width: 150px;
  height: 150px;
  transform: scale(0.4);
}

#texto3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
  position: absolute;
  left: 10%;
  top: 190%;
  width: 600px;
  font-size: 20px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

#texto4 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
  position: absolute;
  left: 10%;
  top: 240%;
  width: 600px;
  font-size: 20px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

#img3 {
  position: absolute;
  top: 200%;
  left: 60%;
  width: 150px;
  height: 150px;
  transform: scale(0.4);
}

#logo1 {
  position: absolute;
  left: 23%;
  top: -10%;
  transform: scale(0.5);
}

#nome1 {
  position: absolute;
  z-index: 1;
  left: 38%;
  top: -10%;
}

.z-index-link {
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 1920px) {
  #img1 {
    position: absolute;
    left: 50%;
    transform: scale(0.7);
  }

  #img2 {
    position: absolute;
    top: 140%;
    transform: scale(0.7);
  }

  #img3 {
    position: absolute;
    left: 50%;
    top: 230%;
    transform: scale(0.7);
  }

  #logo1 {
    position: absolute;
    top: 1%;
    left: 26%;
    transform: scale(0.6);
  }

  #nome1 {
    position: absolute;
    top: 2%;
    transform: scale(1.2);
  }

  h1 {
    position: absolute;
    top: 48%;
  }
  #texto {
    position: absolute;
    top: 50%;
    font-size: 25px;
  }

  #texto2 {
    position: absolute;
    left: 55%;
    top: 150%;
    font-size: 25px;
  }

  #texto3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    position: absolute;
    top: 224%;
    font-size: 25px;
  }

  #texto4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 272%;
    font-size: 25px;
  }
}
