* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(6, 6, 90), #2f3faa, hwb(232 47% 14%));
}

header {
  background-color: #ffffff;
  color: #4006f1;
  padding: 20px;
}

.logo img {
  width: 7%;
  position: absolute;
  left: 10%;
  top: -2%;
}

.titulo-espacial h1 {
  position: absolute;
  left: 38%;
  top: -10%;
  color: #3c01ff;
  font-size: 50px;
}

.voltar a {
  position: absolute;
  left: 80%;
  top: 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: #2f3faa;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}

.voltar a:hover {
  background-color: #0000cd;
}

nav {
  padding: 25px 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #3c01ff;
}

.botao-voltar button {
  position: absolute;
  top: 25%;
  left: 130%;
  border: none;
  background-color: blue;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

.botao-voltar button:hover {
  background-color: #2f3faa;
}

.botao-voltar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h1 {
  color: white;
  position: absolute;
  margin-top: 100px;
  left: 5%;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

.img1 img {
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  left: 60%;
}

#video1 {
  position: absolute;
  top: 40%;
  left: 10%;
}

.titleM1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -130%;
  left: 40%;
  background-color: white;
  color: blue;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 10px #464646;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 55%;
  position: absolute;
  left: 40%;
}
.p1 {
  word-wrap: break-word;
  color: white;
  text-align: justify;
  width: 65%;
  font-size: 20px;
  font-family: cursive;
  background-color: white;
  color: blue;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 10px #464646;
  padding: 10px 15px;
  margin-top: -65px;
  font-family: museo;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}
